#promptContainer #gif-drop{
    width: 400px;
    height: 200px;

    padding: 8px;

    border-radius: 8px;
    border: 1px solid hsl(from var(--main) h s calc(l * 8) / 20%)
}

#promptContainer #gif-preview{
    max-width: 400px;
    max-height: 250px;
    object-fit: cover;

    margin-top: 10px;

    border-radius: 8px;
    border: 1px solid hsl(from var(--main) h s calc(l * 8) / 20%)
}

#promptContainer #tag-input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 8px;
}
#promptContainer .tag-bubble{
    margin: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: hsl(from var(--main) h s calc(l * 8) / 20%)
}
#promptContainer #tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px auto;

    width: 400px;
    border: 1px solid hsl(from var(--main) h s calc(l * 8) / 20%)
}
#promptContainer #error{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;

    background-color: hsl(from indianred h s l / 40%);
    border: 2px solid indianred;
}
#promptContainer #tag-length-info{
    font-size: 12px;
}

.layout .content .trending-gifs-container{
    column-count: 4;
    column-gap: 12px;
    height: auto;
    width: 100%;
}

.layout .content .trending-gifs-container img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;


    margin-bottom: 8px;
    break-inside: avoid;

    border-radius: 4px;
    border: 1px solid hsl(from var(--main) h s calc(l * 1) / 40%)
}
