:root {
    --main: #131415;
    --accent: hsl(from var(--main) calc(h * 2.3) calc(s * 14) calc(l * 5));
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(from var(--main) h s calc(l * 14));
    color: hsl(from var(--main) h s calc(l * 1));
    overflow: hidden;
}

*{
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    font-family: 'Roboto', sans-serif;
    overflow-anchor: none;
}

a {
    color: hsl(from var(--main) h s calc(l * 1));
    font-style: italic;
}

.layout .header{
    background-color: var(--accent);
    color: hsl(from var(--main) h s calc(l * 14));
}

.layout .header .buttons button{
    background-color: hsl(from var(--main) h s calc(l * 14));
    color: hsl(from var(--main) h s calc(l * 1));

    border: 1px solid hsl(from var(--main) h s calc(l * 14));
}
.layout .search input{
    border: 1.5px solid var(--accent);
}
.layout .quick-actions span{
    background-color: var(--accent);
    color: hsl(from var(--main) h s calc(l * 14))
}

.layout .footer{
    background-color: var(--accent);
    color: hsl(from var(--main) h s calc(l * 14));
}