.sql-table{
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #111;
}

.sql-table th,
.sql-table td{
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.sql-table thead th{
    background: var(--accent);
    color: black;
    position: sticky;
    top: 0;
}

.sql-table tbody tr:nth-child(even){
    background: #f6f6f6;
}

.sql-table tbody tr:nth-child(odd){
    background: #ffffff;
}

.sql-table tbody tr:hover{
    background: #eaeaea;
    cursor: pointer;
}

#resource-search{
    width: 100%;
}

.resource-admin-filters {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.resource-admin-filters > div {
    display: flex;
    gap: 1rem;
    background-color: #ffffff;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: 1.5px solid rgb(128 128 128 / 0.5);
}